@import '~antd/dist/antd.css';

@font-face {
  font-family: Manrope;
  src: url('../@fonts/Manrope-SemiBold.woff2');
}

body {
  margin: 0;
  padding: 0;
  background-color: #222;
  color: white;
  font-family: Manrope;
  font-size: 18px;
}

.app {
  text-align: center;
}

.loading {
  left: 50%;
  top: 50%;
  position: absolute;
}

.pokemon-name {
  font-style: italic;
}

thead[class*='ant-table-thead'] th {
  font-size: 1.5rem;
}
