@import '~antd/dist/antd.css';

@font-face {
  font-family: Manrope;
  src: url('../@fonts/Manrope-SemiBold.woff2');
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
hr,
button,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  margin: 0;
  padding: 0;
}

body {
  background-color: #223;
  color: white;
  font-family: Manrope;
  font-size: 18px;
  box-sizing: border-box;
  overflow: auto;
  height: 95vh;
}

h1 {
  margin: 20px 20px;
  color: inherit;
  text-align: center;
}

footer {
  position: fixed;
  bottom: 12px;
  left: 12px;
}

footer a {
  font-size: 14px;
  padding: 5px 5px;
  border-radius: 10px;
  color: white;
}

footer a:hover {
  color: grey;
}

thead[class*='ant-table-thead'] th {
  font-size: 1.5rem;
}

button {
  margin-left: 10px;
}

.input {
  margin-top: 20px;
}

.custom-ant-table {
  margin: 0 auto;
  overflow-y: auto;
  width: 1000px;
  position: relative;
  right: 0px;
  left: 0px;
}

.input-container {
  margin: 0 auto;
  text-align: left;
  right: 0px;
  left: 0px;
  position: relative;
  max-width: 600px;
}

.label {
  display: inline-block;
  width: 105px;
  max-width: 105px;
  overflow: hidden;
  line-height: 1;
}

/* Smaller screens so that it doesn't look so horrible :) */
@media only screen and (max-width: 800px) {
  .custom-ant-table {
    width: 550px;
  }

  thead[class*='ant-table-thead'] th {
    font-size: 1.2rem;
  }
}
